

#boxes-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{tipe: 'button', class: 'close', :"data-dismiss" => 'modal', :"aria-hidden" => 'true'}
          &times;
        %h4.modal-title
          Modal title

      .modal-body
        Soy un modal
      .modal-footer
        %button{tipe: 'button', class: 'btn btn-default', :"data-dismiss" => 'modal', :"aria-hidden" => 'true'}
          Close



