%ul
  %li
    = link_to content_tag(:i, '', class: 'icon iphone_small'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon facebook_small'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon mail_small'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon map_small'), '', target: '_blank'
