%ul
  %li
    = link_to content_tag(:i, '', class: 'icon iphone_small'), '#main-footer'
  %li
    = link_to content_tag(:i, '', class: 'icon facebook_small'), 'https://www.facebook.com/pages/Vendimia-El-Sarcay-De-Azpitia/493041694077233', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon mail_small'), 'mailto:info@enveroelsarcay.com'
  %li
    = link_to content_tag(:i, '', class: 'icon map_small'), '#mapa'
