


body, h1, h2, h3, h4, h5, h6, a {font: normal normal $lato-legible 'Lato', sans-serif; color: black; line-height: 145%}


h1, h2, h3, h4, h5, h6 {margin: 0}
p {font-weight: 200; margin: 0 0 30px; color: black; line-height: 145%; text-align: justify }


::selection {
background:#f094b7;
color:#000;
}

::-moz-selection {
background:#f094b7;
color:#000;
}

::-webkit-selection {
background:#f094b7;
color:#000;
}


.title-default {
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase
}

.lead-message {
  @extend .lead;
  font-size: $lato-large !important; font-weight: 300; font-style: italic
}


h2.title {
  @extend .title-default;
  font-size: $lato-large;
}


#main-header {
  p {font-size: $lato-paragraph; font-weight: 300}
  @media (min-width: 768px) {
    p {font-size: $lato-medium; font-weight: 700; }
  }

  .lt-ie9 & {
    p {font-size: $lato-medium; font-weight: 700; }
  }
}

#content {
  p {font-size: $lato-paragraph}

  #slider p {color: white; font-weight: 700}
}

#main-footer {
  p, a {font-size: $lato-paragraph; color: white}
}

#slider-bottom {
  p {color: white; @extend .lead-message; text-align: center; margin: 0 }
}


body {
  .hasCountdown {
    background: none; border:0;
  
    .countdown_row {
      display: block; @extend .clearfix; text-align: center; 
      .countdown_section {font-size: 20px; line-height: 100%; 
          width: auto; @include inline-block; color: white; color: white; font-weight: bold; 
          text-transform: lowercase; margin: 0 40px 0 0;

          .countdown_amount {font-size: 90px; font-weight: 700; line-height: 100%; color: white; position: relative;
          &:before {content: ":"; @include absolute(right, top, -30px, 0)}
        }
      }
    }
  }
}

body .hasCountdown .countdown_row .countdown_section:last-child .countdown_amount:before {display: none}

@media (max-width: 768px) {
  body .hasCountdown .countdown_row .countdown_section {font-size: 15px; font-weight: 300}
  body .hasCountdown .countdown_row .countdown_section .countdown_amount {font-size: 40px}
}

