



/* THEMING */
#main-header {
  background: black; padding-bottom: 10px; margin: 0;
  p {color: white} h1 {margin-top: 0; margin-bottom: 0}
  z-index: 100; position: relative
}
#content {
  z-index: 50; position: relative;
  .region-outer {padding: 20px 0}

  @media (min-width: 768px) {
    .region-outer {padding: 50px 0}
  }
}

.region-outer {
  @include transition( all 0.3s ease-out );

  &#entradas {background: $green-light;
    &:hover {background: darken($green-light, $dark);}
  }
  &#boxes {background: $green-dark;
    &:hover {background: darken($green-dark, $dark)}
  }
  &#hayrodj {background: white;
    &:hover {background: darken(white, $dark)}
  }
  &#auspiciadores{background: $green-light;
    &:hover {background: darken($green-light, $dark)}
  }
  &#mapa,
  &#siguenos {background: white;
    &:hover {background: darken(white, $dark)}
  }

  .region-inner {}

}
#main-footer {background: $green-dark; @extend .clearfix}


ul {
  @include no-bullet;
}


/* ICONS */
$icons-sprite-dimensions: true;
@import 'icons/*.png';  /* */
@include all-icons-sprites;

#main-header {
  i.icon {
    display: block; margin-left: 10px;
    &.iphone_small {@include icons-sprite(iphone_small)}
    &.facebook_small {@include icons-sprite(facebook_small)}
    &.mail_small {@include icons-sprite(mail_small)}
    &.map_small {@include icons-sprite(map_small)}
  }
}

#content {
  i.icon {
    display: block;
    &.patone {@include icons-sprite(patone)}
    &.champagne {@include icons-sprite(champagne)}
    &.headphones {@include icons-sprite(headphones)}
  }
}

#main-footer {
  i.icon {
    display: block;
    &.iphone {@include icons-sprite(iphone)}
    &.facebook {@include icons-sprite(facebook)}
    &.mail {@include icons-sprite(mail)}
    &.map {@include icons-sprite(map)}
  }
}


/* ELEMENTS */
#main-header {
  #logo {img {margin: 0 auto}}
  .region-inner {text-align: center}


  p, ul {margin: 5px 0 7px; padding: 0}
  ul * {@include inline-block; margin: 0 2px}

  @media (min-width: 800px) {
    .primary-side {text-align: left}
    .secondary-side {text-align: right}
    p, ul {margin: 25px 0 0}
  }
  @media (min-width: 361px) {
    p, ul, ul * {@include inline-block}
  }
  .lt-ie9 & {
    p, ul {margin: 25px 0 0}
    p, ul, ul * {@include inline-block}
  }
}




#main-footer {
  ul {margin: 0}


  padding: 85px 0 40px;
  .social-footer {
    li {overflow: hidden; margin-bottom: 10px}
    i {float: left}
    p {width: 60%; float: right}
  }
  @media (min-height: 640px) and (max-height: 640px) {
    .social-footer {
      li {height: 70px;}
    }
  }
  @media (min-width: 361px) {
    .social-footer {
       * {
        text-align: center;
        margin: 0 auto;
        i {margin-bottom: 30px}
      }
      i, p {float: none}
      p {width: auto}
    }
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  #main-footer .social-footer li {height: 190px}
}

#slider {
  .carousel-inner {
    img {width: 100%}
    p.caption { font-size: 30px; text-align: center;}
  }
}

#slider-bottom {
  background: black
}

.region-default {
  i {float: left; margin-right: 20px}
  &:nth-of-type(even) {
    i {float: right; margin-left: 20px}
  }
  @media (max-width: 767px) {
    &:nth-of-type(even) {
      i {float: none; margin: 0 auto}
    }
  }
  p {overflow: hidden}

  @media (max-width: 767px) {
    h2.title {text-align: center; clear: both}
    i {float: none; margin: 0 auto}
    p {clear: both; margin-top: 10px}
  }
}

#boxes {
  h2.title, p {color: white}
}

#auspiciadores, #siguenos, #video {
  h2.title {text-align: center}
}

#auspiciadores {
  h2.title {color: #fff}
}

#mapa {
  iframe {width: 100% !important}
}

.faltan {text-align: center; margin: 0 0 10px}
.carousel-caption {@include absolute(left, bottom, 0, 0); background: rgba(0,0,0,0.7); width: 100%; padding: 40px 0 100px}

.btn-custom {
  @include btn-custom; @include inline-block;

  #boxes & {
    float: right; margin-top: 50px;
  }
  @media (max-width: 767px) {
    #boxes & {
      float: none; display: block; text-align: center
    }
  }
}

.boxes { list-style-type: circle; color: #fff;}


#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}


.region.kosmyka {
  margin-top: 125px;
  float: right;
}

#mapa.region-outer { padding: 0; }

#video {
  iframe {
    width: 100% !important;
  }
}
