

$green-light:    #669865;
$green-dark:     #314430;
$red:            #ff0000;

$fc:             #1f92aa;

$lato-legible:     12px;
$lato-paragraph:   16px;
$lato-medium:      20px;
$lato-large:       32px;
$lato-heading:     38px;

$lato-legible-mobile:  18px;
$lato-large-mobile:    26px;
$lato-heading-mobile:  32px;

// opacity
$dark:           5%;
